body.page-mapa {
    a {
        text-decoration: none;
        color: white;
    }
    #top {
        top: 59px;
        position: relative;
        
        .language-ul {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-top: 4px;
            max-width: 300px;
            position: absolute;
            right: 0;
            @media (min-width: 330px) {
                padding-right: 10px;
            }
            @media (min-width: 340px) {
                margin-top: 1px;
            }
            li {
                border: solid 1px;
                font-size: 12px;
                font-weight: bold;
                border-radius: 4px;
                margin-left: 5px;
                border: 2px solid #A40F2C;
                background-color: white;
                padding: 5px;
                padding-left: 8px;
                cursor: pointer;
                @media (min-width: 330px) {
                    padding-right: 10px;
                }
                @media (min-width: 360px) {
                    font-size: 14px;
                }

                &:hover {
                    color: white;
                    background-color: $theme-purple;
                    border-color: $theme-gray;
                }
                label {
                    margin-bottom: 0;
                    cursor: pointer;
                }
                input[type="radio"] {
                    visibility: hidden;
                    width: 0;
                    height: 0;
                    position: absolute;
                    left: -500000px;
                    
                }
            }
        }

        #li_authorize {
            display: none !important;
        }
    }

    .leaflet-top {
        top: 59px;
        a.leaflet-control-zoom-in {
            color: black;
        }
        a.leaflet-control-zoom-out {
            color: black;
        }
    }

    .sign-in-map {
        position: relative;
        p {
            font-size: 16px;
            font-weight: bold;
            background: white;
            border: solid 2px;
            border-color: $theme-purple;
            padding: 12px 22px;
            position: absolute;
            left: 0;
            right: 0;
            top: 414px;
            max-width: 400px;
            text-align: center;
            margin: 0 auto;
            @media (min-width: 980px) {
                top: 490px;
            }
            &.desktop-version {
                display: none;
                @media (min-width: 980px) {
                    display: block;
                }
            }
            &.mobile-version {
                @media (min-width: 980px) {
                    display: none;
                }
            }
        }
    }
    footer {
        position: absolute;
        bottom: 0;
        z-index: 5;
        width: 100%;
    }
}
