body.index {
    main {
        @media (min-width: 980px) {
            margin-top: 60px;
        }

        section.nations {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            max-width: 360px;
            margin: 0 auto;
            padding-top: 72px;
            @media (min-width: 980px) {
                padding-top: 50px;
                max-width: 950px;
                padding-bottom: 30px;
            }
            figure {
                width: 166px;
                height: 203px;
                border: solid 1px;
                border-color: $theme-light-gray;
                margin: 3px;
                border-radius: 4px;
                @media (min-width: 980px) {
                    width: 207px;
                    height: 414px;
                    margin-right: 12px;
                    margin-left: 12px;
                }
                img {
                    width: 150px;
                    display: block;
                    margin: 0 auto;
                    padding-top: 8px;
                    padding-bottom: 4px;
                    @media (min-width: 980px) {
                        width: 191px;
                        height: 324px;
                    }
                }
                figcaption {
                    font-size: 14px;
                    text-align: center;
                    max-width: 150px;
                    @media (min-width: 980px) {
                        width: 191px;
                        margin: 0 auto;
                    }
                    strong {
                        color: $theme-purple;
                        padding-top: 4px;
                        display: block;
                        padding-bottom: 8px;
                    }
                }
            }
        }
        section.sponsors-logos {
            @include logos;
        }
    }
}
