body.index {
    main {
        @media (min-width: 980px) {
            margin-top: 60px;
        }

        section.nations {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            max-width: 360px;
            margin: 0 auto;
            padding-top: 72px;
            @media (min-width: 980px) {
                padding-top: 50px;
                max-width: 950px;
                padding-bottom: 30px;
            }
            figure {
                width: 130px;
                height: 203px;
                border: solid 1px;
                border-color: $theme-light-gray;
                margin: 3px;
                border-radius: 4px;
                position: relative;
                @media (min-width: 345px) {
                    width: 166px;
                }
                @media (min-width: 980px) {
                    width: 207px;
                    height: 414px;
                    margin-right: 12px;
                    margin-left: 12px;
                }
                img {
                    width: 150px;
                    display: block;
                    margin: 0 auto;
                    padding-top: 4px;
                    padding-bottom: 4px;
                    cursor: pointer;
                    &.mate-element {
                        height: 130px;
                        width: auto;
                    }
                    @media (min-width: 980px) {
                        width: 191px;
                        height: 324px;

                        &.mate-element {
                            height: auto;
                            padding-bottom: 45px;
                            width: 191px;
                            padding-top: 45px;
                        }
                    }
                }
                figcaption {
                    font-size: 14px;
                    text-align: center;
                    font-weight: bold;
                    // max-width: 150px;
                    // @media (min-width: 980px) {
                    //     width: 191px;
                    //     margin: 0 auto;
                    // }
                    strong {
                        color: white;
                        padding: 8px;
                        display: block;
                        padding-bottom: 8px;
                        width: auto;
                        background-color: $theme-purple;
                        border-radius: 4px;
                        margin: 4px;
                        @media (min-width: 980px) {
                            padding-top: 12px;
                            height: 60px;
                        }
                    }
                }
            }
        }
        section.sponsors-logos {
            @include logos;
        }

        .link-container {
            display: none;

            a {
                color: $theme-purple;
            }
            button {
                background: none;
                border: none;
                font-weight: bold;
            }
            &.opened {
             @include link-to-wikimedia-opened;
            }
        }
    }
}
