@mixin go-back {
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 24px;
}

@mixin logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 360px;
    margin: 0 auto;
    margin-top: 7px;
    @media (min-width: 980px) {
        max-width: 1000px;
    }
    img {
        width: 90px;
        margin-top: 1px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@mixin link-to-wikimedia-opened {
    display: flex;
    font-size: 12px;
    position: absolute;
    background-color: white;
    position: absolute;
    top: 11px;
    left: 7px;
    border: solid 1px;
    border-color: #e0e0e0;
    padding: 4px 5px;
    border-radius: 5px;
}
